*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.agents/
/.ai/
/.claude/
/.codex
/.cursor/
/.idea
/.mcp.json
/.nova
/.phpunit.cache
/.vscode
/.zed
/_token=*
/auth.json
/boost.json
/database/architech.sql
/database_export.sql
/in
/node_modules
/opencode.json
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
